{
    "test":{
        "twitter":{
            "oauth":{
                "consumer_key":"****",
                "consumer_secret":"****",
                "access_token":"****",
                "access_token_secret":"****"
            }
        },
        "es_server_options":{
            "host":"localhost",
            "port":9200,
            "secure":false
        }
    }
}